<nav class="menu" role="nav">
    <ul>
      <li><a href="/projects">Projects</a></li>
      <li><a href="https://twitter.com/donrmccurdy" target="_blank">Twitter</a></li>
      <li><a href="https://github.com/donmccurdy" target="_blank">GitHub</a></li>
    </ul>
</nav>
