@import url('//fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
/* === Mixins === */
/* === Core Styles === */
body {
  background-color: #FFFFFF;
  color: #7F8C8D;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}
body * {
  max-height: 1000000em;
}
h1,
h2,
h3,
h4,
p,
li,
dt,
dd {
  font-family: "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
}
a,
a:visited {
  color: #D96459;
  text-decoration: none;
}
a:focus,
a:hover {
  display: inline;
  background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#D96459, #D96459);
  background-size: 0.10em 0.01em,
        0.10em 0.07em,
        0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-y: 98%,
        98%,
        98%;
  background-position-x: 0%,
        100%,
        0%;
  text-shadow: 0.1em 0em #FFFFFF, 0.1em 0.02em #FFFFFF, 0.1em 0.04em #FFFFFF, 0.1em 0.06em #FFFFFF, 0.1em 0.08em #FFFFFF, 0.1em 0.1em #FFFFFF, 0.08em 0.1em #FFFFFF, 0.06em 0.1em #FFFFFF, 0.04em 0.1em #FFFFFF, 0.02em 0.1em #FFFFFF, 0em 0.1em #FFFFFF, -0.02em 0.1em #FFFFFF, -0.04em 0.1em #FFFFFF, -0.06em 0.1em #FFFFFF, -0.08em 0.1em #FFFFFF, -0.1em 0.1em #FFFFFF, -0.1em 0.08em #FFFFFF, -0.1em 0.06em #FFFFFF, -0.1em 0.04em #FFFFFF, -0.1em 0.02em #FFFFFF, -0.1em 0em #FFFFFF, -0.1em 0.02em #FFFFFF, -0.1em 0.04em #FFFFFF, -0.1em -0.06em #FFFFFF, -0.1em -0.08em #FFFFFF, -0.1em -0.1em #FFFFFF, -0.08em -0.1em #FFFFFF, -0.06em -0.1em #FFFFFF, -0.04em -0.1em #FFFFFF, -0.02em -0.1em #FFFFFF, 0em -0.1em #FFFFFF, 0.02em -0.1em #FFFFFF, 0.04em -0.1em #FFFFFF, 0.06em -0.1em #FFFFFF, 0.08em -0.1em #FFFFFF, 0.1em -0.1em #FFFFFF, 0.1em -0.08em #FFFFFF, 0.1em -0.06em #FFFFFF, 0.1em -0.04em #FFFFFF, 0.1em -0.02em #FFFFFF;
}
p,
li,
dt,
dd {
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
}
dt {
  font-weight: 400;
}
li {
  padding-left: 0.8em;
}
pre {
  font-family: "Consolas", Courier, monospace;
  font-size: 1em;
  line-height: 1.2em;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: #F3F3F3;
}
p code {
  font-family: "Consolas", Courier, monospace;
  font-size: .8em;
  line-height: 1.2em;
}
h1 {
  color: #151515;
  font-family: "Roboto Slab", "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin: 0;
  padding: 0;
}
#site-head {
  margin: 0;
  overflow: hidden;
}
#site-head img {
  max-width: 100%;
}
#site-head .header-col {
  border-top: 1px solid #ECF0F1;
  border-bottom: 1px solid #ECF0F1;
  max-width: 600px;
  margin: 0 auto 2em auto;
  padding: 1em 0;
}
article,
article.preview,
.article-nav {
  margin: 1em auto;
  max-width: 600px;
  width: 90%;
}
article.preview {
  margin-bottom: 4em;
}
/* === Header === */
#blog-logo {
  display: block;
  max-width: 100px;
  margin: 50px auto 0;
  text-align: center;
}
#blog-logo div.bloglogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center center !important;
  background-color: #FFFFFF;
}
.blog-title {
  font-size: 48px;
  line-height: 52px;
  margin: 1em 0;
  padding: 0;
  text-align: center;
}
.blog-description {
  font-family: "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 1.2em;
  margin-bottom: 0;
  line-height: 1.5em;
  text-align: center;
}
/* === Body === */
blockquote {
  font-style: italic;
  border-left: 0.5em solid #F3F3F3;
  margin-left: 1em;
  padding-left: 1em;
}
blockquote p {
  font-style: italic;
}
.post-meta {
  color: #95A5A6;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0.5em;
  margin-bottom: 2em;
  text-align: left;
  text-transform: uppercase;
}
.preview .post-meta {
  margin-bottom: 1.2em;
}
.tags {
  font-size: 16px;
  margin-bottom: 0.6em;
}
.post-title {
  color: #151515;
  font-family: "Roboto Slab", "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}
.blog-title a {
  color: #151515;
  text-align: left;
}
.blog-title a:focus,
.blog-title a:hover {
  background-image: none;
  text-decoration: none;
}
h2 {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin-top: 2em;
  text-transform: uppercase;
}
section.post-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* === Footer === */
footer {
  background: #F3F3F3;
  margin: 4em 0 0;
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
}
footer section {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 18px;
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
}
footer a:focus,
footer a:hover {
  display: inline;
  background-image: linear-gradient(#F3F3F3, #F3F3F3), linear-gradient(#F3F3F3, #F3F3F3), linear-gradient(#D96459, #D96459);
  background-size: 0.10em 0.01em,
        0.10em 0.07em,
        0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-y: 98%,
        98%,
        98%;
  background-position-x: 0%,
        100%,
        0%;
  text-shadow: 0.1em 0em #F3F3F3, 0.1em 0.02em #F3F3F3, 0.1em 0.04em #F3F3F3, 0.1em 0.06em #F3F3F3, 0.1em 0.08em #F3F3F3, 0.1em 0.1em #F3F3F3, 0.08em 0.1em #F3F3F3, 0.06em 0.1em #F3F3F3, 0.04em 0.1em #F3F3F3, 0.02em 0.1em #F3F3F3, 0em 0.1em #F3F3F3, -0.02em 0.1em #F3F3F3, -0.04em 0.1em #F3F3F3, -0.06em 0.1em #F3F3F3, -0.08em 0.1em #F3F3F3, -0.1em 0.1em #F3F3F3, -0.1em 0.08em #F3F3F3, -0.1em 0.06em #F3F3F3, -0.1em 0.04em #F3F3F3, -0.1em 0.02em #F3F3F3, -0.1em 0em #F3F3F3, -0.1em 0.02em #F3F3F3, -0.1em 0.04em #F3F3F3, -0.1em -0.06em #F3F3F3, -0.1em -0.08em #F3F3F3, -0.1em -0.1em #F3F3F3, -0.08em -0.1em #F3F3F3, -0.06em -0.1em #F3F3F3, -0.04em -0.1em #F3F3F3, -0.02em -0.1em #F3F3F3, 0em -0.1em #F3F3F3, 0.02em -0.1em #F3F3F3, 0.04em -0.1em #F3F3F3, 0.06em -0.1em #F3F3F3, 0.08em -0.1em #F3F3F3, 0.1em -0.1em #F3F3F3, 0.1em -0.08em #F3F3F3, 0.1em -0.06em #F3F3F3, 0.1em -0.04em #F3F3F3, 0.1em -0.02em #F3F3F3;
}
/* === Navigation and Pagination === */
nav {
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
nav ul li {
  display: inline-block;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  margin: 0;
  padding: 0 .5em;
  text-transform: uppercase;
}
nav ul li a {
  display: block;
  padding: .5em 0;
}
nav.menu li {
  margin: 0 .5em;
  padding: 0;
}
nav.pagination li:first-child {
  margin-left: 0;
  margin-right: 0;
  text-align: right;
}
nav.pagination li:last-child {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
.pagination {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #7F8C8D;
  text-align: center;
  padding: 0.5em 0;
}
.pagination a {
  color: #D96459;
}
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  transition: color ease 0.3s;
  -webkit-transition: color ease 0.3s;
}
.newer-posts {
  right: 0;
}
.page-number {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.older-posts {
  left: 0;
}
.older-posts:hover,
.newer-posts:hover {
  display: inline;
  background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#D96459, #D96459);
  background-size: 0.10em 0.01em,
        0.10em 0.07em,
        0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-y: 98%,
        98%,
        98%;
  background-position-x: 0%,
        100%,
        0%;
  text-shadow: 0.1em 0em #FFFFFF, 0.1em 0.02em #FFFFFF, 0.1em 0.04em #FFFFFF, 0.1em 0.06em #FFFFFF, 0.1em 0.08em #FFFFFF, 0.1em 0.1em #FFFFFF, 0.08em 0.1em #FFFFFF, 0.06em 0.1em #FFFFFF, 0.04em 0.1em #FFFFFF, 0.02em 0.1em #FFFFFF, 0em 0.1em #FFFFFF, -0.02em 0.1em #FFFFFF, -0.04em 0.1em #FFFFFF, -0.06em 0.1em #FFFFFF, -0.08em 0.1em #FFFFFF, -0.1em 0.1em #FFFFFF, -0.1em 0.08em #FFFFFF, -0.1em 0.06em #FFFFFF, -0.1em 0.04em #FFFFFF, -0.1em 0.02em #FFFFFF, -0.1em 0em #FFFFFF, -0.1em 0.02em #FFFFFF, -0.1em 0.04em #FFFFFF, -0.1em -0.06em #FFFFFF, -0.1em -0.08em #FFFFFF, -0.1em -0.1em #FFFFFF, -0.08em -0.1em #FFFFFF, -0.06em -0.1em #FFFFFF, -0.04em -0.1em #FFFFFF, -0.02em -0.1em #FFFFFF, 0em -0.1em #FFFFFF, 0.02em -0.1em #FFFFFF, 0.04em -0.1em #FFFFFF, 0.06em -0.1em #FFFFFF, 0.08em -0.1em #FFFFFF, 0.1em -0.1em #FFFFFF, 0.1em -0.08em #FFFFFF, 0.1em -0.06em #FFFFFF, 0.1em -0.04em #FFFFFF, 0.1em -0.02em #FFFFFF;
  text-decoration: none;
}
/* === Extras === */
.gist {
  margin-top: 1em;
  margin-bottom: 1em;
  border-collapse: collapse !important;
}
.gist .gist-file {
  font-family: "Consolas", Courier, monospace;
  border: 1px solid #F3F3F3 !important;
}
.gist .gist-file .gist-meta {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  display: none !important;
  /* Hide GitHub attribution */
}
.gist .gist-file .gist-meta a:visited {
  color: #D96459 !important;
}
.gist .gist-file .gist-data {
  background: #FDFDFD !important;
  border-bottom: none !important;
  /* Hide GitHub attribution */
}
.gist .gist-file .gist-data .line-numbers {
  border-right: none !important;
}
.gist .gist-file .gist-data .line-numbers,
.gist .gist-file .gist-meta {
  background-color: #F3F3F3 !important;
}
.gist .gist-file .gist-data .line-numbers,
.gist .gist-file .gist-data .line-pre {
  line-height: 1.2em !important;
}
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-ghost,
.icon-feed {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
.icon-ghost:before {
  content: "\e000";
}
.icon-feed:before {
  content: "\e001";
}
.icon-ghost {
  font-size: 12px;
  position: relative;
  top: -1px;
}
/* Comments */
#disqus_thread {
  color: #787878;
}
/* Tables */
table {
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  border-collapse: collapse;
  margin: 1em 0 3em;
}
table td {
  padding: .5em;
}
table thead {
  font-weight: 600;
  border-bottom: 1px solid #ECF0F1;
}
table tbody tr:nth-child(even) {
  background-color: #ECF0F1;
  border-top: 1px solid #e3e9eb;
  border-bottom: 1px solid #e3e9eb;
}
table tfoot {
  border-top: 1px solid #ECF0F1;
}
/* === Media Queries === */
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .blog-description {
    padding: 0 1em;
  }
  footer section span.copyright {
    display: block;
  }
  nav li {
    width: auto;
  }
  .older-posts,
  .newer-posts {
    position: static;
  }
  .newer-posts {
    margin-bottom: 10px;
  }
  .older-posts {
    margin-top: 10px;
  }
  .page-number {
    display: block;
  }
}
